# Example of a Row in the PaySim Fraud Detection Dataset

| Column           | Example Value        | Description                                                                 |
|------------------|----------------------|-----------------------------------------------------------------------------|
| `Step`           | 1                    | Maps a unit of time in the real world. In this case, 1 step is 1 hour of time. |
| `Type`           | PAYMENT              | Type of transaction: `CASH-IN`, `CASH-OUT`, `DEBIT`, `PAYMENT`, `TRANSFER`. |
| `Amount`         | 1060.31              | Amount of the transaction in local currency.                                |
| `NameOrig`       | C429214117           | Customer who started the transaction.                                       |
| `OldbalanceOrg`  | 1089.0               | Initial balance before the transaction.                                      |
| `NewbalanceOrig` | 28.69                | New balance after the transaction.                                           |
| `NameDest`       | M1591654462          | Customer who is the recipient of the transaction.                           |
| `OldbalanceDest` | 0.0                  | Initial balance recipient before the transaction.                           |
| `NewbalanceDest` | 0.0                  | New balance recipient after the transaction.                                |
| `isFraud`        | 0                    | Whether the transaction is fraudulent (`1` for fraudulent, `0` for non-fraudulent). |
| `isFlaggedFraud` | 0                    | Whether the transaction is flagged as fraud due to a transfer amount greater than 200,000. |


### The `NewbalanceDest` being 0.0 can happen under certain circumstances, such as:

- **No money transferred to the recipient in that specific transaction.**
- **The transaction was reversed or was a non-transactional operation.**
- **The recipient's balance remained unchanged** if there were no credits or if the money was withdrawn immediately.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv("C:\Machine Learning Projects\Fraud Detection using Machine Learning\data\Imported_data.csv")
df.head(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [ ]:
df.shape

(6362620, 11)